@{
    ViewData["Title"] = "My Skills";
}

<h2>Skills</h2>
<ul class="list-group list-group-flush">
    <li class="list-group-item">ASP.NET Core MVC</li>
    <li class="list-group-item">Entity Framework Core</li>
    <li class="list-group-item">C# Programming</li>
    <li class="list-group-item">SQL Server</li>
    <li class="list-group-item">HTML, CSS, Bootstrap</li>
    <li class="list-group-item">JavaScript</li>
    <!-- Add or modify as needed -->
</ul>
